<%= form_for(@article) do |f| %>
<div>
<%= f.label :title %> <br>
<%= f.text_field :title %>
</div>
<div>
<%= f.label :content %> <br>
<%= f.text_field :content %>
</div>
<br> <%= f.submit %>
<% end %>
