<h3><%= @article.title %></h3>

<%= link_to edit_article_path do %>
<%= icon('fas', 'pen-alt') %>
<% end %>

<%= link_to article_path(@article), method: :delete,
    data: { confirm: "Delete article '#{@article.title}'?" } do %>
<%= icon('fas', 'trash-alt') %>
<% end %>


<p>
    <%= @article.content %>
</p>

<%= link_to articles_path do %>
<%= icon('fas', 'angle-left') %>
<% end %>
